@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #1e3f6e;
	--primary-rgb: 30 63 110;
	--link-color: var(--primary-color);
}

@layer base {
	pre,
	code {
		font-size: 0.875rem;
	}
}